@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

.shaddai-font {
  font-family: 'Satisfy', cursive;
}

.cursor-pointer {
  cursor: pointer !important;
}

.overlap-index {
  z-index: 1;
}

.center {
  margin: auto;
  display: flex;
  align-items: center;
}

.grayscale {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.font-size-main-title {
  font-size: 25px;
}

.font-size-xsm {
  font-size: 14px;
}

.font-size-sm {
  font-size: 20px;
}

.font-size-md {
  font-size: 26px;
}

.font-size-lg {
  font-size: 32px;
}

.font-size-xlg {
  font-size: 38px;
}

/* Skeleton loader sets */

.skeleton:hover {
  border-color: rgba(82, 88, 102, 0.4);
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 75%);
  }

  /* 50% {
    background-color: hsl(200, 20%, 80%);
  } */

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/** Simple Star Image */
.star {
  background-color: hsl(200, 20%, 75%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 2vh;
  width: 1.2vw;
}

/* Footer configuration to keep on the bottom the <div /> */
.keep-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
}

.keep-in-front {
  z-index: 0;
}

/** Business theme */
.main-theme {
  color: rgb(139, 195, 74);
  caret-color: rgb(139, 195, 74);
}

.scroll-container-component {
  -ms-overflow-style: none;
  overflow-y: scroll;
}

.scroll-container-component::-webkit-scrollbar {
  display: none;
}

.full-height {
  height: 100vh;
}

/** Use those classes when you need to center a component, is it important that you use two component or tags */
.centered-container {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  height: 100%;            /* Use the max of the high screen */
}

.centered-component {
  padding: 20px;
  border-radius: 8px;
}

/** Use the next class .shiny-item to apply shinny effect to item */
.shiny-text {
  font-weight: bold;
  color: black;
  position: relative;
  overflow: hidden;
}

.shiny-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  animation: shine 4s infinite;
}

@keyframes shine {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
  }
}

.orange-text-gradient {
  background: linear-gradient(to right, #bb750c, rgba(209, 121, 20, 0.089)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}